
<div id="container">
  <h1>Petition List</h1>


  <% @petitions["results"].each do |petition| %>
    <a href=<%=petition["url"]%>><h2><%= petition["title"] %></h2></a>
    <span>Categories: <%=petition["issues"].inject(""){|prev, curr| prev += "- #{curr["name"]}"} %></span>
    <p><%= petition["body"] %></p>
    <p>Signature Count: <%= petition["signatureCount"] %></p>
    <p>Signatures Needed: <%=petition["signaturesNeeded"] %> </p>

  <% end %>
</div>


<div class="boxed">
  <div id="newform">
    <h2><center><%= link_to 'Create New Issue', new_article_path %></center></h2>
    <table>
      <tr>
        <th><u>Category</u></th>
        <th><u>Options</u></th>
        <th colspan="4"></th>
      </tr>


      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <!-- <td><%= article.content %></td> -->
          <td class="btn btn-primary btn-sm"><%= link_to 'Dialogue', article_path(article) %></td>
          <td class="btn btn-primary btn-sm"><%= link_to 'Fix', edit_article_path(article) %></td>
          <td class="btn btn-primary btn-sm"><%= button_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
